# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor
.angular/
.ionic/

# Android Studio
.idea/
*.iml

# Android build files
android/.gradle/
android/build/
android/app/build/
android/captures/
android/.idea/
android/local.properties

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log